@charset "UTF-8";
@media screen and (max-width: 30em) {
  .flex-20-s {
    flex: 0 0 20%; } }

@media screen and (min-width: 30em) and (max-width: 60em) {
  .max-width-half-m {
    max-width: 50%; } }

@media screen and (min-width: 60em) {
  .max-width-quarter-l {
    max-width: 25%; }
  .mw-50-l {
    max-width: 50%; }
  .mw-33-l {
    max-width: 33%; }
  .mw-67-l {
    max-width: 67%; } }

html {
  font-size: 62.5%; }

@media screen and (min-width: 30em) {
  html {
    font-size: 75%; } }

body {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  background-color: white;
  font-size: 1.5rem;
  line-height: 1.6;
  /* Ensure the footer is always at the bottom of the screen */
  min-height: 100vh;
  display: flex;
  flex-direction: column; }
  body > main {
    flex: 1; }

code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  overflow: auto; }

pre > code {
  display: block;
  white-space: pre;
  width: 100%; }

@media (min-width: 64rem) {
  .buttons {
    min-height: 70px; } }

@media (max-width: 64rem) {
  .buttons {
    min-height: 0px; } }

.button {
  display: inline-block;
  width: 100%;
  min-height: 38px;
  padding: 8px 30px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid;
  cursor: pointer;
  box-sizing: border-box; }
  .button:hover, .button:focus {
    outline: 0; }

p {
  margin-top: 0;
  margin-bottom: 2.5rem; }

.button.button-secondary {
  font-size: 0.8em; }

.button-additional {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 0.8em; }

code.code-header {
  background-color: rgba(127, 127, 127, 0.25);
  font-size: 2rem;
  display: inline-block;
  margin: 0 0 3px 0; }

header h1,
section h2 {
  z-index: 999999;
  position: relative;
  letter-spacing: 1px;
  font-weight: 300; }

header h1 {
  font-family: "Alfa Slab One", serif;
  font-size: 8rem;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 1px; }

header h2 {
  font-size: 4.2rem;
  line-height: 1.25;
  font-weight: 300; }

section h3 {
  margin-top: 0;
  line-height: 1.3; }

section p,
code {
  line-height: 1.6; }

header .button.button-download {
  color: black;
  background-color: #ffc832;
  border-color: #ffc832;
  width: 100%;
  padding: 20px;
  height: auto;
  font-size: 2.25rem;
  margin-top: 20px; }
  header .button.button-download:hover, header .button.button-download:focus {
    border-color: black; }

h2.subtitle {
  margin: 0;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  color: #2a3439; }

section {
  padding: 30px 0 60px 0; }
  section header {
    padding: 10px 0 30px 0;
    display: inline-block; }
    section header h2 {
      margin: 0;
      padding: 0;
      letter-spacing: 1px;
      font-size: 3rem;
      line-height: 1.25; }
  section h2 {
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    font-weight: 800; }
  section h3 {
    font-weight: 600;
    line-height: 1.3; }
  section p {
    margin-top: 0;
    margin-bottom: 30px; }

ul {
  list-style: disc;
  padding-left: 1.5em; }

ol {
  list-style: decimal;
  padding-left: 1.5em; }

.nav a {
  color: #2a3439; }

div.brand {
  color: black;
  font-family: "Alfa Slab One", serif;
  font-size: 3rem;
  text-decoration: none;
  margin-top: 3px; }
  div.brand img {
    width: 80px;
    margin-top: -3px; }
  div.brand span {
    display: inline-block;
    margin-left: -1rem; }

a.brand {
  color: black;
  text-decoration: none; }

.domain-icon {
  min-height: 100px;
  text-align: center;
  margin-bottom: -10px; }
  .domain-icon img {
    max-width: 50%;
    max-height: 50%;
    padding-bottom: 20px; }

.red {
  background-color: #a72145;
  color: white; }
  .red .highlight {
    background-color: #2e2459; }
  .red a {
    color: white;
    text-decoration: underline; }
  .red .button.button-secondary {
    background-color: #2e2459;
    border-color: #2e2459;
    color: white;
    text-decoration: none; }
    .red .button.button-secondary:hover, .red .button.button-secondary:focus {
      border-color: white; }

.green {
  background-color: #0b7261;
  color: white; }
  .green .highlight {
    background-color: #2e2459; }
  .green a {
    color: white;
    text-decoration: underline; }
  .green .button.button-secondary {
    background-color: #2e2459;
    border-color: #2e2459;
    color: white;
    text-decoration: none; }
    .green .button.button-secondary:hover, .green .button.button-secondary:focus {
      border-color: white; }

.white {
  color: black; }
  .white .highlight {
    background-color: #ffc832; }
  .white a {
    color: #2a3439;
    text-decoration: underline; }
  .white .button.button-secondary {
    background-color: #ffc832;
    border-color: #ffc832;
    color: #2a3439;
    text-decoration: none; }
    .white .button.button-secondary:hover, .white .button.button-secondary:focus {
      border-color: #2a3439; }

.purple {
  background-color: #2e2459;
  color: white; }
  .purple .highlight {
    background-color: #a72145; }
  .purple a {
    color: white;
    text-decoration: underline; }
  .purple .button.button-secondary {
    background-color: #a72145;
    border-color: #a72145;
    color: white;
    text-decoration: none; }
    .purple .button.button-secondary:hover, .purple .button.button-secondary:focus {
      border-color: white; }

h3 {
  font-weight: 600;
  font-size: 1.5em;
  letter-spacing: normal; }

.highlight {
  height: 12px;
  position: relative;
  top: 0;
  left: -10px;
  width: 120%;
  max-width: 90vw;
  line-height: 1.6;
  border-radius: 2px; }

footer {
  padding: 30px 0;
  background-color: #2a3439;
  color: white; }
  footer p {
    margin: 0; }
  footer ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0; }
  footer li {
    margin-bottom: 1rem; }
  footer a {
    color: #ffc832;
    text-decoration: none; }
    footer a:hover {
      color: #ffc832;
      text-decoration: underline; }

footer h4 {
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 2rem; }

footer img {
  width: 40px;
  padding: 0 10px; }

footer .attribution {
  text-align: center;
  padding-top: 30px; }

footer .languages {
  color: #2a3439; }

blockquote {
  font-size: 1.5em;
  line-height: 1.2em;
  position: relative;
  border-bottom: 1px dotted #2a3439;
  padding: 5px;
  color: #2a3439; }

blockquote::before {
  content: "“";
  color: #2a3439;
  font-size: 3em;
  position: absolute;
  left: -50px;
  top: 20px; }

.production .four {
  text-align: center; }

#production .attribution {
  text-align: right; }

.production .button.button-secondary {
  margin-top: 30px; }

.testimonial img {
  padding: 10px; }

.production .attribution {
  font-size: 1.5em;
  text-align: right; }

#whitepapers .top-border {
  padding-top: 20px;
  border-top: 1px white dotted; }

#prod-highlights img {
  width: 100%; }

#users .row .columns {
  position: relative;
  height: 200px; }

#users img {
  max-height: 200px;
  max-width: 100px;
  width: auto;
  height: auto;
  margin: auto;
  display: block; }

.user-logo {
  min-height: 100px; }

.user-container {
  min-height: 300px; }

#share-your-experience h3,
#production-domains h3 {
  padding-bottom: 20px;
  text-align: center; }

#learn-begin p:first-of-type {
  padding-bottom: 20px;
  border-bottom: 1px white dotted; }

#learn-use img {
  width: 30%; }

#learn-use .domain {
  text-align: center; }

#rust-trademarks img {
  vertical-align: middle; }

.tools-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px; }

.tools-row #tools-write-ide-prose {
  margin-right: 10px; }

#embedded-showcase-gallery iframe {
  width: 100%;
  height: 250px; }

#cli-pitch .domain-icon {
  display: block;
  padding-bottom: 0;
  min-width: 100px; }
  #cli-pitch .domain-icon img {
    max-width: 90px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
    opacity: 0.9; }

#cli-use-it pre {
  color: #fff; }

#ferris-error {
  width: 80%; }

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.install-details {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.65);
  margin-bottom: 20px;
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  border-radius: 4px; }

@media screen and (max-width: 769px) {
  .highlight {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0; } }

@media screen and (max-width: 550px) {
  header h1 {
    font-size: 4rem; }
  header h2.subtitle {
    font-size: 2.5rem;
    line-height: 1.1; } }

.testimonial {
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 545px) {
    .testimonial {
      display: block; } }
.download-link {
  color: #4299bf; }

.max-height-5rem {
  /* Tachyons is missing this class */
  max-height: 5rem; }

.max-height-10rem {
  /* Tachyons is missing this class */
  max-height: 10rem; }
